html {
    font-size: 20px;
    font-family: 'Esteban';
    padding: 0;
    margin: 0;
  }

  body {
    padding: 0;
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
 }

  #FirstHeadLine {
    font-size: 30px;
    text-align: center;
    color: #918D8D;
  }

  #SecondHeadLine{
      color: #D9017A;
      font-size: 30px;
      text-align: center;
  }

div.img-holder{ 
    position: relative
}

div.img-holder .button {
    position:absolute;
    top:50%; 
    left:40%;
    background-color: #918D8D; /* Green */
    border: none;
    color: white;
    padding: 35px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 12px;
    font-family: 'Esteban';
}

div.img-holder  img {
    width:100%;
    height: 550px;
    margin:0;
    padding: 0;
  }